

:root {

    --blue0:            #e2e2e2;            --red0:             #e2e2e2;
    --blue1-less:       #ccd4e2;            --red1:             #e2bec4;
    --blue1:            #becbe2;            --red2:             #e29aa6;
    --blue2:            #9ab3e2;            --red3:             #e27688;
    --blue3:            #769ce2;            --red4:             #e25169;
    --blue4:            #5386E4;            --red5:             #e22d4b;
    --blue5:            #2d6ce2;            --red6:             #e2092d;
    --blue6:            #0955e2;            --red7:             #e20025;
    --blue7:            #004fe2;

    --green0:           #4c4c4c;            --lime0:            #d1d1d1;
    --green1:           #404c4a;            --lime1-lesser:     #c6d1cb;
    --green2:           #344c49;            --lime1-unlesser:   #c6d4d5;
    --green3:           #274c47;            --lime1-less:       #c0d1c7;
    --green4:           #1b4c45;            --lime1:            #afd1bd;
    --green5:           #0f4c44;            --lime2:            #8ed1a8;
    --green6:           #034c42;            --lime3:            #6cd194;
    --green7:           #004c42;            --lime4:            #4bd180;
                                            --lime5:            #29d16c;
    --green-low-s:      #efffff;            --lime6:            #08d158;
                                            --lime7:            #00d153;
}



