:root {
    --somerset-image:   url("../res/somerset_bg.jpg");
    --milano-building-hero-shot:        url("../res/milano-hero-shot.jpeg");
    --milano-bed:       url("../res/milano-bed.jpg");
    --milano-logo:      url("../res/milano_logo.png");
}
