:root {
    --somerset-image:               url("../res/somerset_bg.jpg");
    --milano-building-hero-shot:    url("../res/milano-hero-shot.jpeg");
    --milano-building-hero-shot2:   url("../res/milano-hero-shot2.jpg");
    --milano-bed:                   url("../res/milano-bed.jpg");
    --milano-logo:                  url("../res/milano_logo.png");
    --company_bg:                   url("../res/company_bg.jpg");
}
