:root {
    --rating-size:              14pt;
    --anchor-size:              14pt;
    --paragraph-s:              8pt;
    --paragraph-m:              11pt;
    --paragraph-m2:             12pt;
    --paragraph-l:              14pt;
}
