:root {
    --air-force-blue:   #628395;
    --beaver:           #96897B;
    --vanilla:          #EFE5E5;
    --vanilla-yellow:   #DFD5A5;
    --earth-yellow:     #DBAD6A;
    --buff:             #CF995F;

    --dark-blue:        #22223B;
    --grayish-purple:   #4A4E69;
    --gray-pink:        #9A8C98;
    --beige:            #C9ADA7;
    --sand:             #F2E9E4;

}

body {
    background-color: var(--sand);
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
}

#nav_bar{
    background-color: var(--air-force-blue);
    position: sticky;
}

.brochure_container {
    margin-top: 60px;
    height: 800px;
}

#brochure {
    margin-left: 10%;
    position: absolute;
    background-color: black;
    width: 240vw;
    min-width: 1200px;
    height: 800px;
}

.brochure_fold {
    float: left;
    width: 33.3333333%;
    height: 100%;
}

#intro_fold {
    background-color: var(--gray-pink);
}

#facilities_fold {
    background-color: var(--grayish-purple);
}

#news_fold {
    background-color: var(--beige);
}

.slide_button {
    top: 400px;
    position: absolute;
    z-index: 4;
    width: 80px;
}

.slide_button img{
    width: inherit;
    height: inherit;
}


#slide_button_left {
    left: 20px;
}

#slide_button_right {
    right: 20px;
}

#slide_button_left:hover img{
    content: url("../res/arrow_left_dark.png");
}

#slide_button_right:hover img{
    content: url("../res/arrow_right_dark.png");
}

