@import "images.css";
@import "colors.css";
@import "fonts.css";

@keyframes scale_up {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.10);
    }
}

body {
    font-family: var(--montserrat-font);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    margin-bottom: 0;
    margin: 0;
    padding: 0;
}

#nav_bar{
    background-color: var(--lime1-unlesser);
    position: fixed;
    top: 0;
    z-index: 10;
    height: 5vh;
    min-height: 80px;
    width: 100vw;
    min-width: 600px;
    align-content: center;
}

.milano_logo {
    height: 70%;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.milano_logo img {
    content: var(--milano_logo);
    width: inherit;
    height: inherit;
}

.link_section {
    float: right;
    padding: 10px;
    margin-right: 20px;
}

.link_section a {
    font-size: var(--anchor-size);
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: var(--green7);
}

.link_section a:hover{
    color: var(--lime7);
}

.background_image_container {
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    z-index: -7;
}

.background_image {
    content: var(--milano_hero_shot3);
    min-width: 105vw;
    min-height: 100vh;
    translate: -2.5vw;
    filter: blur(5px) brightness(50%);
}

.hero_section {
    font-family: var(--playfair-font);
    margin-bottom: 100px;
    height: 80vh;
    max-height: 80vh;
    color: var(--lime0);
    box-shadow: stroke var(--green1) 10px;
}

.hero_section_hl {
    color: var(--lime7);
}

.hero_section_content {
    margin-top: 80px;
    align-content: center;
}

.hero_section_content h1 {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 35vh;
    
}

.content_container {
    background-color: var(--green-low-s);
}

#brochure {
    /* transform: translateX(-160vw); */
    margin-left: 10%;
    margin-top: 100px;
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 240vw;
    min-width: 1440px;
}

.brochure_fold {
    width: 33.3333333%;
}

#intro_fold {
    background-color: var(--green5);
}

.intro_fold_section {
    color: var(--lime0);
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}

.company_image {
    width: 100%;
    height: fit-content;
}

.company_image img {
    content: var(--company_bg);
    width: inherit;
    height: auto;
}

.company_section {
    font-size: var(--paragraph-l);

}

.core_section {
    font-size: var(--paragraph-l);
    background-color: var(--lime1-less);
    text-align: justify;
}

.core_section li {
    margin-bottom: 12px;
}

.core_section_container {
    color: var(--green7);
}

.core_section_flex {
    display: flex;
}

.core_section_row {
    margin: 20px;
    width: 50%;
}

.core_section_flex_col {
    display: flex;
    flex-direction: column;
}

.core_section_col {
    height: 50%;
}

.condo_section_container {
    font-size: var(--paragraph-l);
    color: var(--lime0);
    display: flex;
}

.condo_image {
    min-width: 48%;
    height: 100%;
    background-attachment: fixed;
    margin-left: 0;
    overflow: hidden;
}

.condo_image img {
    content: var(--milano_hero_shot2);
    height: 100%;
}

.condo_section {
    margin: 50px;
    text-align: justify;
}

#facilities_fold {
    background-color: var(--lime1-less);
}

.facilities_fold_section {
    font-size: var(--paragraph-l);
    color: var(--green7);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.amenities_section {
    padding: 20px;
    background-color: var(--green7);
    display: flex;
    align-items: center;
}

.amenities_section_alt {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 20px;
}

.amenities_section_alt .amenities_content {
    color: var(--green7);
}
.amenities_content {
    color: var(--lime0);
    padding: 20px;
}

.amenities_image {
    min-width: 50%;
}

.amenities_image img {
    width: 100%;
}

.piazza_image {
    content: var(--milano_piazza);
}

.pool_image {
    content: var(--milano_pool2);
}

.lobby_image {
    content: var(--milano_lobby);
}

.gym_image {
    content: var(--milano_gym);
}

.spa_image {
    content: var(--milano_spa);
}

.testimony_section {
    font-size: var(--paragraph-l);
    padding-top: 1px;
    background-color: var(--green7);
    color: var(--lime0);
    padding-bottom: 20px;
}

.testimony_container {
    margin: 50px;
    margin-bottom: 0px;
}

.testimony_box {
    margin-bottom: 20px;
}

.review_header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.rating {
    font-size: var(--rating-size);
    font-weight: bold;
    background-color: var(--lime3);
    color: var(--green7);
    width: fit-content;
    padding: 10px;
    border-radius: 8px;
}

.reviewer {
    font-weight: bold;
    margin-left: 10px;
}

.testimony_content {
    color: var(--green7);
    background-color: var(--lime0);
    border-radius: 15px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 1px;
}

.review {
    background-color: var(--lime1-lesser);
    padding: 10px;
    border-radius: 15px;
}

#news_fold {
    background-color: var(--green5);
}

.news_separator {
    margin: 50px;
    color: var(--lime0);
}

.register_section {
    position: relative;
    margin: auto;
}

.call_to_action_panel {
    font-size: var(--paragraph-l);
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
.call_to_action_header {
    color: var(--lime0);
    width: fit-content;
    margin: auto;
}

.call_to_action_paragraph {
    color: var(--lime0);
    width: fit-content;
    margin: auto;
    text-align: center;
}

.registration_panel {
    font-size: var(--paragraph-l);
    background-color: var(--blue0);
    width: 50%;
    margin: auto;
    margin-top: 50px;
    min-height: 100px;
    border-radius: 15px;
}

.registration_panel h1 {
    margin-left: 10%;
    color: var(--green7);
    padding-top: 50px;
}

.registration_container {
    margin: auto 10% auto 10%;
    padding-bottom: 30px;
}

.registration_form .input_label {
    font-size: 14pt;
    font-weight: bold;
    color: var(--green7);
}

.registration_form input[type="checkbox"] {
    accent-color: var(--green5);
}

.registration_form input[type="text"] {
    font-size: 14pt;
    width: 99%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.registration_form input[name="submit_button"] {
    width: 100%;
    font-size: var(--paragraph-l);
    background-color: var(--lime4);
    color: var(--green7);
    font-weight: bold;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    height: 40px;
}

.registration_form input[name="submit_button"]:hover{
    background-color: var(--lime7);
    font-weight: bold;
    animation-name: scale_up;
    animation-duration: 250ms;
    transform: scale(1.10);
}

.slide_button {
    top: 50%;
    margin-top: 25%;
    margin-bottom: 25%;
    position: sticky;
    z-index: 4;
    width: 80px;
}

.slide_button img {
    width: inherit;
    height: inherit;
}


#slide_button_left {
    left: 20px;
    float: left;
}

#slide_button_right {
    right: 20px;
    float: right;
}

#slide_button_left:hover img{
    content: url("../res/arrow_left_dark.png");
}

#slide_button_right:hover img{
    content: url("../res/arrow_right_dark.png");
}

.warn_label {
    color: red;
}

.footer {
    padding: 30px;
    background-color: var(--lime1-unlesser);
    padding-bottom: 1px;
}

.century_properties_logo {
    width: 20vw;
    margin: auto;
}
.century_properties_logo img {
    content: var(--century_properties_logo);
    width: 100%;
}

.copyright_section p {
    text-align: center;
}

