:root {
    --air-force-blue:   #628395;
    --air-force-blue-dark: #527385;
    --beaver:           #96897B;
    --vanilla:          #EFE5E5;
    --vanilla-yellow:   #DFD5A5;
    --earth-yellow:     #DBAD6A;
    --buff:             #CF995F;

    --dark-blue:        #22223B;
    --grayish-purple:   #4A4E69;
    --gray-pink:        #9A8C98;
    --beige:            #C9ADA7;
    --sand:             #F2E9E4;

    --chefchaouen-blue: #5386E4;
    --rich-black:       #0D1C21;
    --baby-powder:      #F0F4EF;
    --baby-powder-dark: #E0E4DF;
    --sage:             #BFCC94;
    --brown-sugar:      #C57B57;
    --feldgrau:         #627264;
    
    --somerset-blue:    #2C3E50;
    --warm-sandstone:   #D5CABD;
    --gold-luxe:        #C9A66B;
    --clean-linen:      #F9F9F9;
    --charcoal-gray:    #4A4A4A;

    --blue0:            #e2e2e2;
    --blue1:            #becbe2;
    --blue2:            #9ab3e2;
    --blue3:            #769ce2;
    --blue4:            #5386E4;
    --blue5:            #2d6ce2;
    --blue6:            #0955e2;
    --blue7:            #004fe2;

    --blue4-dark:       #375999;

    --purple1:          #6751e2;
    --somerset-image:   url("../res/somerset_bg.jpg");
}

body {
    /* background-image: var(--somerset-image); */
    /* background-attachment: fixed; */
    /* background-size: 100vmax; */
    /* background-repeat: no-repeat; */
    background-color: var(--blue1);
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
}

#nav_bar{
    background-color: var(--baby-powder);
    position: sticky;
}

.brochure_container {
    margin-top: 60px;
    height: 800px;
}

#brochure {
    /* transform: translateX(-160vw); */
    margin-left: 10%;
    position: absolute;
    width: 240vw;
    min-width: 1200px;
    height: 800px;
}

.brochure_fold {
    float: left;
    width: 33.3333333%;
    height: 100%;
}

#intro_fold {
    background-color: var(--blue4-dark);
}

#facilities_fold {
    background-color: var(--blue0);
}

#news_fold {
    background-color: var(--blue4-dark);
}

.slide_button {
    top: 400px;
    position: absolute;
    z-index: 4;
    width: 80px;
}

.slide_button img {
    width: inherit;
    height: inherit;
}

.call_to_action_panel {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.call_to_action_header {
    color: var(--blue0);
    width: fit-content;
    margin: auto;
}

.call_to_action_paragraph {
    color: var(--blue0);
    width: fit-content;
    margin: auto;
    text-align: center;
}

.registration_panel {
    background-color: var(--blue0);
    width: 60%;
    margin: auto;
    margin-top: 50px;
    min-height: 100px;
    border-radius: 15px;
}

.registration_panel h1 {
    margin-left: 10%;
    color: var(--blue7)
}

.registration_container {
    margin: auto 10% auto 10%;
    padding-bottom: 20px;
}

.registration_form label {
    font-size: 14pt;
    font-weight: bold;
    color: var(--blue7)
}

.registration_form input[type="text"] {
    font-size: 14pt;
    width: 99%;
    font-weight: bold;
    margin-bottom: 10px;
}

.registration_form input[name="submit_button"] {
    width: 100%;
    background-color: var(--blue5);
    color: var(--blue1);
    border: none;
    border-radius: 8px;
    height: 40px;
}

.registration_form input[name="submit_button"]:hover{
    background-color: var(--blue7);
}

#slide_button_left {
    left: 20px;
}

#slide_button_right {
    right: 20px;
}

#slide_button_left:hover img{
    content: url("../res/arrow_left_dark.png");
}

#slide_button_right:hover img{
    content: url("../res/arrow_right_dark.png");
}

